html, body{
	margin:0;
	padding:0;
}

.flex-section{
	background-color:#87A7AE ;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin:auto;
	border-radius: 25px;
	background-color: whitesmoke;
	max-width: 15rem;
	max-height:40%;
}


 img{
	max-height: 90%;
	max-width: 90%;
	margin-top: 10px;
	border-radius: 20px;
}

 .text{
	font-family: Arial;
	font-size: 0.9em;
	font-weight: 700;
	margin: 20px;
	flex-grow: 1;

}

 .text-sub{
	font-weight: 200;
	font-size: 0.75em;
	margin-top: no margin;
	margin-bottom:20px;
	margin-right:20px;
	margin-left:20px;
	opacity: 0.7;
}
